:root {
	--dark-blue: #002f87;
	--light-blue: #0071ce;
	--black: #000;
	--dark-grey: #232526;
	--red: #e10027;
	--white: #fff;

	--bg: var(--white);
	--text: var(--black);
	--header1: var(--dark-blue);
	--header2: var(--black);
	--logo-letters: var(--light-blue);
	--logo-swoosh: var(--red);

	--font-size: 20px;
	--social-size: 2rem;
	--default-padding: 1rem;
}

@media (prefers-color-scheme: dark) {
	:root {
		--bg: var(--dark-grey);
		--text: var(--white);
		--header1: var(--white);
		--header2: var(--white);
		--logo-letters: var(--white);
	}
}

* {
	box-sizing: border-box;
	margin: 0;
}

html,
body {
	margin: 0;
	padding: 0;
}

html {
	background: var(--bg);
	color: var(--text);
	font-size: var(--font-size);
}

body {
	margin: 0;
	padding: 0;
	min-height: 100vh;
	overflow-x: hidden;
	display: flex;
	flex-flow: column nowrap;
}

header,
main,
footer {
	padding: var(--default-padding);
}
