:root {
	--dark-blue: #002f87;
	--light-blue: #0071ce;
	--black: #000;
	--dark-grey: #232526;
	--red: #e10027;
	--white: #fff;

	--bg: var(--white);
	--text: var(--black);
	--header1: var(--dark-blue);
	--header2: var(--black);
	--logo-letters: var(--light-blue);
	--logo-swoosh: var(--red);
	--link: var(--dark-blue);
	--link-underline: var(--light-blue);

	--font-size: 20px;
	--social-size: 2rem;
	--default-padding-top: 5vh clamp(1rem, 5vw, 3rem);
	--default-padding-x: clamp(1rem, 5vw, 3rem);
	--default-padding-bottom: 1rem;
	--max-width: 70ch;
	--layout-spacing: max(8vh, 3rem);
}

@media (prefers-color-scheme: dark) {
	:root {
		--bg: var(--dark-grey);
		--text: var(--white);
		--header1: var(--white);
		--header2: var(--white);
		--logo-letters: var(--white);
		--link: var(--white);
		--link-underline: var(--light-blue);
		--link-social-hover: var(--red);
		--link-focus: var(--light-blue);
	}
}

* {
	box-sizing: border-box;
	margin: 0;
}

html {
	background: var(--bg);
	color: var(--text);
	font-size: var(--font-size);
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	padding: var(--default-padding-top) var(--default-padding-x) var(--default-padding-bottom);
	line-height: 1.5;
	color: var(--text);
}

body > * {
	width: min(100%, var(--max-width));
	margin-left: auto;
	margin-right: auto;
}

body > * {
	width: min(100%, var(--max-width));
	margin-left: auto;
	margin-right: auto;
}

main {
	margin-top: var(--layout-spacing);
}

footer {
	margin-top: auto;
	padding-top: var(--layout-spacing);
}

:is(h1, h2, h3) {
	line-height: 1.2;
}

:is(h2, h3):not(:first-child) {
	margin-top: 2em;
}

article * + * {
	margin-top: 1em;
}

:is(h1, h2, h3) + p {
	margin-top: 1rem;
}

p {
	margin-top: 0.5rem;
}

a {
	color: var(--link);
	text-decoration-color: var(--link-underline);
	text-underline-offset: 0.15em;
}

a:focus {
	outline: 0.1rem solid var(--link-focus);
}
a:focus:not(:focus-visible) {
	outline: none;
}

a:focus-visible {
	outline: 0.15rem solid var(--link-focus);
}
